html,main,body,header,h1,p,div {
  margin: 0;
  padding: 0;
}

body {
  background-color: whitesmoke;
  width: 100vw;
  height: 100vh;
}

main {
  display: flex;
  align-items: center;
  justify-content: center;
}

#box {
  width: 25vw;
  height: 25vh;
  background-color: salmon;
  opacity: 1;
}

#box[data-state='inactive'] {
  opacity: 0.5;
}

#box::after {
  content: 'state: ' attr(data-state);
  background: tomato;
}