body {background: rgb(50,50,50);}
h1 {color: rgb(250,250,250);}
p {color: rgb(240,240,240);}

.sectionStyle {
    color: rgb(100,150,250);
    background: black;
    text-align: center;
    width: 500px;
    margin: 0 auto;
}

caption {
    caption-side: bottom;
}

table {
    margin: 20px auto;
    width: 80%;
    border-spacing: 2px;
    border-radius: 4px;
    border: 1px solid gray;
}

thead {
    color: rgb(100,150,250);
    background: rgb(20,20,20);
}

th {
    line-height: 25px;
}

tbody {
    text-align: center;
}

tbody tr:nth-of-type(odd) {
    background: rgb(100,100,100);
}

tbody tr:nth-of-type(even) {
    background: rgb(80,80,80);
}

tbody tr:hover {
    background: orange;
}

#theBox {
    height: 120px;
    width: 120px;
    text-align: center;
    padding: 2px 0 0 5px;
    margin-top: 20px;
    background: rgb(20,20,20);
}

#therows {
    display: flex;
    justify-content: center;
}

.backdrops {
    height: 10px;
    width: 20px;
    margin-bottom: 2px;
    border-radius: 5px;
    background: rgb(75,75,75);
}

.droprow {
    margin-right: 10px;
}

#col3,#col4,#col5,#col7,#col8,#col9,#col10,#col14,#col15 {
    background: rgb(100,150,250);
}

#sliderDiv {
    margin: 10px;
    padding: 5px 3px 10px 1px;
    width: 25px;
    height: 120px;
    border-radius: 20px;
    background: rgba(100,150,250,.6);
    box-shadow: inset 0px 0px 4px 1px rgb(20,20,20);
}

#sliderDiv input {
    width: 120px;
    height: 25px;
    transform-origin: 60px 60px;
    transform: rotate(-90deg);
}

#sliderValue {
  width: 24px;
  height: 24px;
  margin: 0 0 0 10px;
  padding: 1px;
  border: 1px solid rgb(100,150,250);
  background: rgba(100,150,250,.6);  
}

#floatingBoxContainer {
    padding: 20px 0;
    text-align: center;
    /*background: rgb(250,250,250);*/
}

#floatingBox {
    width: 100px;
    height: 100px;
    margin: 5px auto;
    background: rgb(220,220,220);
    box-shadow: 0 0 15px 5px rgb(20,20,20);
}

button {
    padding: 2px 4px;
    border: none;
}

#ToDoList {
    margin: 20px auto;
    padding: 20px 0;
    width: 500px;
    background: rgb(20,20,20);
}

#ToDoList #new {
    margin-left: 45px;
}

ul {
    list-style: none;
    color: rgb(250,250,250);
}

.itemChecked {
    color: green;
}

#itemToAdd button {
    margin-left: -18px;
    color: rgb(240,240,240);
    background: rgb(50,200,50);
}

#myCanvas {
    background: rgb(100,100,100);
    margin: 20px;
}

#videoContainer {
    width: 640px;
    height: 360px;
    margin: 0 auto;
}

#videoContainer #vidButtons {
    width: 640px;
    margin-left: 10px;
    margin-top: -40px;
}

#videoContainer button {
    height: 25px;
    width: 50px;
    margin-right: 20px;
    background: rgba(250,180,60,0.5);
    cursor: pointer;
    
}

#rtriangle {
    width: 0;
    height: 0;
    border-top: 5px solid transparent;
    border-left: 10px solid black;
    border-bottom: 5px solid transparent;
    margin-left: 18px;
}

#ltriangle {
    width: 0;
    height: 0;
    border-top: 5px solid transparent;
    border-right: 10px solid black;
    border-bottom: 5px solid transparent;
    margin-left: 16px;
}

#playB {
    margin-top: -5px;
}

#pauseB,#minus10B {
    font-weight: bold;
}

#otherCanvas {
    background: rgb(100,100,100);
    margin: 20px;
}

form {
    width: 50%;
    margin: 0 auto;
    padding: 50px;
    border: 1px solid rgb(100,150,250);
}

#controls fieldset {
    width: 25%;
    margin-right: 20px;
    border: 1px solid orange;
    color: orange;
}

fieldset ul {
    color: rgb(250,250,250);
}

#controls {
    display: flex;
    margin-bottom: 20px;
}

#username:valid { /* use input:valid for all input fields */
    background: lightgreen;
}

#username:invalid { /* use input:valid for all input fields */
    background: pink;
}

#cookies {
    width: 25px;
}

#dropDownSection {
    width: 300px;
    height: 200px;
    margin: 50px 20px;
    padding: 1px 10px;
    background: rgb(200,200,200);
}

summary::-webkit-details-marker {
    background: rgb(250,250,250);
}

#responsiveVideo {
    width: 98vw;
    height: 98vh;
    object-fit: cover;
    object-position: center center;
}

/* REALISTIC DASHBOARD */

#realButtonsSection {
    margin: 50px 0;
    display: grid;
    grid-template-columns: 50px 118px 118px 300px 100px 200px 400px 1fr;
    grid-template-rows: 400px;
    align-items: center;
    justify-items: center;
}

.realButtonSocket {
    width: 100px;
    height: 50px;
    padding: 5px;
    border-radius: 6px;
    background: linear-gradient(to bottom, rgb(40,40,40) 70%,#4b4b4b 100%);
}

.realButton {
    width: 100px;
    height: 43px;
    background: rgb(50,50,50);
    border-radius: 6px;
    border-top: 2px solid rgba(250,250,250,0.09);
    border-bottom: 4px solid rgba(40,40,40,0.8);
    box-shadow: 0px 4px 10px 0px rgba(0,0,0,0.8);
    display: grid;
    grid-template-rows: 44px 1fr;
    place-items: center;
    transition: all 0.20s;
    color: rgba(100,150,250,0.4);
}

.realButton:hover {
    grid-template-rows: 42px 1fr;
    height: 43px;
    border-top: 2px solid rgb(50,50,50);
    box-shadow: none;
    text-shadow: 0px 0px 2px rgb(100,150,250);
    color: rgb(100,150,250);
    transition: all 0.20s;
}

#rb1 {
    grid-column: 2/3;
}

#rb2 {
    grid-column: 3/4;
}

#dialSection {
    width: 250px;
    height 400px;
    background: rgb(20,20,20);
}

#realDialSocket {
    width: 260px;
    height: 280px;
    margin: 0 auto;
    border-radius: 6px;
    /*background: linear-gradient(to bottom, rgb(40,40,40) 70%,#4b4b4b 100%);*/
}

#dial {
    width: 200px;
    height: 260px;
    padding: 20px 5px;
    margin: 0 auto;
    background: linear-gradient(to bottom,rgba(0,0,0,0) 5%,orange 50%,rgba(0,0,0,0) 95% );
}

#f1,#f2,#f3 {
    width: 190px;
    height: 80px;
    margin: 5px auto;
    background: rgb(20,20,20);
}

#barRowLabels {
    grid-column: 5/6;
}

#barRowLabels p {
    margin: 0;
    color: rgb(100,100,100);
}

.barRow {
    width: 200px;
    height: 10px;
    /*padding: 1px;*/
    margin-bottom: 10px;
    border-radius: 50px;
    background: rgb(30,30,30);
}

.barFill {
    height: 10px;
    border-radius: 50px;
    background: rgb(100,150,250);
}

#barRowSection {grid-column: 6/7; height: 50px;}
/*#bf1 {animation: 3s ease-in-out infinite barSlide1;}
#bf2 {animation: 1.5s ease-in-out infinite barSlide2;}
#bf3 {animation: 2s ease-in-out infinite barSlide3;}*/

#radialOutside {
    grid-column: 7/8;
    display: grid;
    place-items: center;
    width: 380px;
    height: 380px;
    border-radius: 50%;
    background: radial-gradient(rgb(40,40,40) 60%,rgb(80,80,80) 65%,rgb(40,40,40) 70%);
}

#radialSection {
    grid-column: 7/8;
    display: grid;
    place-items: center;
    width: 300px;
    height: 300px;
    border-radius: 50%;
    border: 2px solid rgb(100,150,250);  /*10*/ /*making it smaller requires changing the container shadow , too much gap in the inside  */
    background: rgb(20,20,20);
    margin: 0 0 0 -325px;  /*weird*/
    /*box-shadow: 0 0 5px 0 rgb(100,150,250), inset 0 0 5px 0 rgb(100,150,250);*/
}

#radialBackground {
    width: 240px;
    height: 240px;
    border-radius: 50%;
    position: relative;
}

/*#radialTicks {
    width: 280px;
    height: 280px;
    border-radius: 50%;
    border: dashed;
    border-width: 5px;
    border-color: rgb(250,250,250);
    margin: -5px;
    background: rgb(20,20,20);
}*/

.radialTick {
    position: absolute;
    transform-origin: center;
    height: 10px;
    width: 2px;
    background: rgb(100,100,100);
}

#rt1 {top:0%; left:49.75%;}
#rt2 {top:1%; left:59.25%; transform: rotate(11.25deg); background: rgb(255,255,255);box-shadow: 0 0 5px 1px rgb(255,255,255);}
#rt3 {top:4%; left:68.5%; transform: rotate(22.5deg); background: rgb(255,255,255);box-shadow: 0 0 5px 1px rgb(255,255,255);}
#rt4 {top:8.5%; left:76.5%; transform: rotate(33.75deg);}
#rt5 {top:14.25%; left:83.75%; transform: rotate(45deg);}
#rt6 {top:21.5%; left:89.5%; transform: rotate(56.25deg);}
#rt7 {top:29.5%; left:94%; transform: rotate(67.5deg);}
#rt8 {top:38.5%; left:96.75%; transform: rotate(78.75deg);}
#rt9 {top:48.5%; left:97.75%; transform: rotate(90deg);}
#rt10 {top:57.75%; left:96.75%; transform: rotate(101.25deg);}
#rt11 {top:67%; left:94%; transform: rotate(112.5deg);}
#rt12 {top:75%; left:89.5%; transform: rotate(123.75deg);}
#rt13 {top:82.25%; left:83.75%; transform: rotate(135deg);}
#rt14 {top:88%; left:76.5%; transform: rotate(146.25deg);}
#rt15 {top:92.5%; left:68.5%; transform: rotate(157.5deg);}
#rt16 {top:95.25%; left:59.25%; transform: rotate(168.75deg);}
#rt17 {top:96.5%; left:49.75%;}
#rt18 {top:95.25%; left:40%; transform: rotate(-168.75deg);}
#rt19 {top:92.5%; left:31%; transform: rotate(-157.5deg);}
#rt20 {top:88%; left:22.75%; transform: rotate(-146.25deg);}
#rt21 {top:82.25%; left:15.75%; transform: rotate(-135deg);}
#rt22 {top:75%; left:9.75%; transform: rotate(-123.75deg);}
#rt23 {top:67%; left:5.5%; transform: rotate(-112.5deg);}
#rt24 {top:57.75%; left:2.5%; transform: rotate(-101.25deg);}
#rt25 {top:48.5%; left:1.5%; transform: rotate(-90deg);}
#rt26 {top:38.5%; left:2.5%; transform: rotate(-78.75deg);}
#rt27 {top:29.5%; left:5.5%; transform: rotate(-67.5deg);}
#rt28 {top:21.5%; left:9.75%; transform: rotate(-56.25deg);}
#rt29 {top:14.25%; left:15.75%; transform: rotate(-45deg);}
#rt30 {top:8.5%; left:22.75%; transform: rotate(-33.75deg);}
#rt31 {top:4%; left:31%; transform: rotate(-22.5deg);}
#rt32 {top:1%; left:40%; transform: rotate(-11.25deg);}

/* CANVAS */

#awesomeCanvas {
    background: black;
}

/* COLOUR */

#divColourChoice {
  width: 80vw;
  margin: 0 auto;
  text-align: center;
}

#divToColour {
  width: 80vw;
  height: 30vw;
  margin: 0 auto;
  background: black;
}

@keyframes barSlide1 {
    0%{width:10px;}
    50%{width:125px;}
    100%{width:10px;}
}

@keyframes barSlide2 {
    0%{width:120px;}
    50%{width:180px;}
    100%{width:120px;}
}

@keyframes barSlide3 {
    0%{width:0px;}
    50%{width:150px;}
    100%{width:0px;}
}